.benefits {
  padding: 120px 0;
  background-color: var(--light-color);

  &__title {
    grid-column: 3 span;
    margin: 0;

    @include tablet {
      grid-column: 6 span;
      margin-bottom: 30px;
      font-size: 28px;
    }
  }

  &__list {
    display: grid;
    column-gap: 20px;
    grid-column: 9 span;
    grid-template-columns: repeat(9, 1fr);

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
    }
  }

  &__item {
    grid-column: 3 span;

    @include small-tablet {
      grid-column: 6 span;
    }
  }

  &__heading {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 185%;
    color: var(--text-color);
    opacity: 0.8;
  }

  &__link {
    padding-right: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 185%;
    color: var(--accent);

    &::after {
      content: "";
      display: inline-block;
      margin-left: 17px;
      width: 37px;
      height: 10px;
      background-image: url("../img/svg/arrow-right.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @include mobile {
    padding: 60px 0;
  }
}
