.footer {
  padding: 118px 0 56px;
  background-color: #2d2f33;

  &__grid {
    display: grid;
    grid-template-columns: repeat((10), 1fr);
    margin-bottom: 118px;
    gap: 20px;

    @include small-tablet {
      margin-bottom: 50px;
    }
  }

  &__logo {
    grid-column: 3 span;

    img {
      margin-bottom: 29px;

      @include mobile {
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }

    @include small-tablet {
      grid-column: 10 span;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #fff;
    opacity: 0.8;
  }

  &__nav {
    grid-column: 2 span;

    &--services {
      grid-column: 5 / span 2;

      @include small-tablet {
        grid-column: 2/5 span;
      }
    }
  }

  &__nav-title {
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--font4);
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.01em;
    color: #f6973f;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: var(--light-color);
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    color: var(--light-color);

    @include mobile {
      flex-direction: column;
    }
  }

  &__copyright {
    font-family: var(--font4);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: #fff;
    opacity: 0.8;

    @include mobile {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 40px;

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 15px;
    color: var(--light-color);
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    gap: 40px;

    &:hover {
      opacity: 0.5;
    }
  }

  @include small-tablet {
    padding: 50px 0;
  }
}
