/* stylelint-disable number-max-precision */
/* stylelint-disable order/properties-order */
/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable media-feature-name-no-vendor-prefix */
.hero {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1440 / 1084;
  background-color: var(--light-color);

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__content {
    text-align: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    padding-top: 161px;
    font-family: var(--font3);
    font-weight: 700;
    font-size: 80px;
    line-height: 130%;
    text-align: center;
    text-transform: capitalize;
    color: var(--light-color);

    @include tablet {
      padding-top: 120px;
      font-size: 40px;
    }

    @include mobile {
      padding-top: 100px;
      font-size: 24px;
      max-width: 280px;
      margin: 0 auto;
    }
  }

  &__descr {
    margin: 0 auto;
    margin-bottom: 14px;
    max-width: 606px;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: var(--light-color);
    opacity: 0.8;

    @include tablet {
      display: none;
    }
  }

  &__dot-sofa {
    position: absolute;
    left: calc(276 * 100% / 1410);
    top: calc(685 * 100% / (1084 - 9));
    transform: translate(-50% -50%);

    @include tablet {
      display: none;
    }
  }

  &__dot-vase {
    position: absolute;
    left: calc(100 * 100% / 1440);
    top: calc(734 * 100% / 1084);
    transform: translate(-50% -50%);

    @include tablet {
      display: none;
    }
  }

  &__dot-item {
    position: absolute;
    left: calc(800 * 100% / 1440);
    top: calc(777 * 100% / 1075);
    transform: translate(-50% -50%);

    @include tablet {
      display: none;
    }
  }

  &__dot-wall {
    position: absolute;
    right: calc(30 * 100% / (1440 - 30));
    top: calc(821 * 100% / (1084 - 9));
    transform: translate(-50% -50%);

    @include tablet {
      display: none;
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../img/header-bg@2x.jpg");
  }
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8px;
  padding-left: 20px;
  max-width: 344px;
  height: 56px;
  border: 0.8615384697914124px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  backdrop-filter: blur(8px);

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    border-radius: 24px;
  }

  &__input {
    flex-grow: 1;
    height: 100%;
    padding: 0;
    padding-right: 20px;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);

    &:focus-visible .search-form {
      border: 1.8615384697914124px solid rgb(229 132 18);
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
  }

  @include tablet {
    display: none;
  }
}
