/* stylelint-disable color-named */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
.info-hint {
  position: absolute;
  left: 50%;
  top: -26px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  width: 112px;
  height: 56px;
  background-image: url("../img/svg/Union.svg");
  transform: translate(-50%, -100%);
  gap: 8px;

  &__radio {
    position: absolute;
    clip-path: inset(50%);
    overflow: hidden;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
  }

  &__radio:checked + .info-hint__radio-fake {
    background-image: url("../img/svg/checkbox.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(1);
  }

  &__radio-fake {
    flex-shrink: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--grey);
    cursor: pointer;

    &--orange {
      background-color: #e58411;
    }

    &--biruza {
      background-color: var(--biruza);
    }

    &--gray {
      background-color: var(--grey);
    }
  }
}
