/* stylelint-disable rule-empty-line-before */
/* stylelint-disable number-max-precision */
/* stylelint-disable order/properties-order */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
.info-dot {
  position: relative;
  border-radius: 50%;
  background-color: none;
  cursor: pointer;

  &__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--light-color);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;
  }

  &__radius {
    border-radius: 100%;
    border: 0.8615384697914124px solid rgba(255, 255, 255, 0.6);
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    animation: pulse 1s infinite alternate;
  }

  &:hover .info-dot__radius {
    animation: pulse 1s infinite alternate paused;
  }

  &:hover .info-dot__circle {
    background-color: var(--accent);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
