<footer class="footer">
  <div class="container container--small">
    <div class="footer__wrapper footer__grid">
      <div class="footer__logo">
        <img src="./img/logo.svg" alt="Logo">
        <p class="footer__descr">
          The advantage of hiring a workspace with us is that givees you
          comfortable service and all-around facilities.
        </p>
      </div>
      <nav class="footer__nav footer__nav--services">
        <h3 class="footer__nav-title">Services</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#">Email Marketing</a>
            <a href="#">Campaigns</a>
            <a href="#">Branding</a>
          </li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h3 class="footer__nav-title">Furniture</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#">Beds</a>
            <a href="#">Chair</a>
            <a href="#">All</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="footer__row">
      <div class="footer__copyright">Copyright © 2021</div>
      <div class="footer__links">
        <a class="footer__link" href="#">Terms & Conditions</a>
        <a class="footer__link" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
