<header class="header">
  <div class="container">
    <nav class="nav" title="Main menu">
      <a href="#" class="logo nav__logo">
        <img src="./img/logo.svg" width="78" height="35" alt="Logo">
      </a>



      <ul class="list-reset nav__list" data-menu>

        <li class="mobil-cart">
          <a class="mobil-cart__link" href="#">
            <img class="mobil-cart__img" src="./img/cart.svg" width="34" height="34" alt="cart">
            <div class="mobil-cart__count">0</div>
          </a>
        </li>

        <li class="nav__item"><a href="#" class="nav__link nav__link--dropdown">Furniture</a>
          <div class="sub-nav">
            <ul class="list-reset sub-nav__list">
              <li class="sub-nav__item"><a href="#" class="sub-nav__link">Home</a></li>
              <li class="sub-nav__item"><a href="#" class="sub-nav__link">Services</a></li>
              <li class="sub-nav__item"><a href="#" class="sub-nav__link">Products</a></li>
              <li class="sub-nav__item"><a href="#" class="sub-nav__link">Contacts</a></li>
            </ul>
          </div>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      </ul>
      <div class="cart">
        <a class="cart__link" href="#">
          <img class="cart__img" src="./img/cart.svg" width="34" height="34" alt="cart">
          <div class="cart__count">0</div>
        </a>
      </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </nav>
  </div>
</header>
