<section class="hero">
  <div class="hero__wrapper">
    <div class="container">
      <div class="hero__content">
        <h1 class="hero__title">
          Make your interior more minimalistic & modern
        </h1>
        <p class="hero__descr">
          Turn your room with panto into a lot more minimalist and modern with
          ease and speed
        </p>

        <form class="search-form">
          <input
            placeholder="Search furniture"
            autocomplete="off"
            type="text"
            class="search-form__input hero__input input-reset"
          >
          <button class="btn-reset search-form__btn">
            <img
              class="search-form__icon"
              src="img//svg/search.svg"
              width="14"
              height="14"
              alt="Search"
            >
          </button>
        </form>
      </div>

      <div class="hero__dot-sofa">
        <div class="btn-reset info-dot">
          <div class="info-dot__circle"></div>
          <div class="info-dot__radius"></div>
        </div>
        <div class="info-hint none">
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--orange"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--biruza"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--gray"
            ></div>
          </label>
        </div>
      </div>

      <div class="hero__dot-vase">
        <div class="btn-reset info-dot">
          <div class="info-dot__circle"></div>
          <div class="info-dot__radius"></div>
        </div>
        <div class="info-hint none">
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--orange"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--biruza"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--gray"
            ></div>
          </label>
        </div>
      </div>

      <div class="hero__dot-item">
        <div class="btn-reset info-dot">
          <div class="info-dot__circle"></div>
          <div class="info-dot__radius"></div>
        </div>
        <div class="info-hint none">
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--orange"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--biruza"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--gray"
            ></div>
          </label>
        </div>
      </div>

      <div class="hero__dot-wall">
        <div class="btn-reset info-dot">
          <div class="info-dot__circle"></div>
          <div class="info-dot__radius"></div>
        </div>
        <div class="info-hint none">
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--orange"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--biruza"
            ></div>
          </label>
          <label>
            <input type="radio" name="sofa-color" class="info-hint__radio">
            <div
              class="info-hint__radio-fake info-hint__radio-fake--gray"
            ></div>
          </label>
        </div>
      </div>
    </div>
  </div>
</section>
