<section class="products">
  <div class="container">
    <h2 class="products__title section-title">Best Selling Product</h2>
    <div class="products__tabs">
      <div class="tab-controls">
        <button data-tab="all" class="btn-reset tab-controls__btn tab-controls__btn--active" aria-label="Open all categories">
          All
        </button>
        <button data-tab="chair" class="btn-reset tab-controls__btn" aria-label="Open Chair categories">
          Chair
        </button>
        <button data-tab="beds" class="btn-reset tab-controls__btn" aria-label="Open Beds categories">
          Beds
        </button>
        <button data-tab="sofa" class="btn-reset tab-controls__btn" aria-label="Open Sofa categories">
          Sofa
        </button>
        <button data-tab="lamp" class="btn-reset tab-controls__btn" aria-label="Open Lamp categories">
          Lamp
        </button>
      </div>
    </div>
    <div class="products__slider">
      <div class="swiper products__swiper">
        <div class="swiper-wrapper">
          <div data-tab-value="chair" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-01.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-01@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Chair</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Sakarias Armchair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star-off.svg" alt="Star">
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">392</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>

          <div data-tab-value="chair" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-02.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-02@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Chair</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Baltsar Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star-off.svg" alt="Star">
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">299</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>

          <div data-tab-value="beds" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-03.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-03@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
              >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Bed</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Anjay Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star.svg" alt="Star">
                  <img src="./img/svg/star-off.svg" alt="Star">
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">519</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="sofa" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Sofa</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="lamp" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Lamp</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="beds" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Bed</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="sofa" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Sofa</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="lamp" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Lamp</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="chair" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Chair</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="chair" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-01.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-01@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Chair</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Sakarias Armchair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">392</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>

          <div data-tab-value="chair" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-02.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-02@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Chair</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Baltsar Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">299</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>

          <div data-tab-value="beds" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-03.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-03@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Bed</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Anjay Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">519</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="sofa" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Sofa</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="lamp" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Lamp</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="beds" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Bed</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="sofa" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Sofa</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="lamp" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Lamp</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div data-tab-value="chair" class="swiper-slide">
            <article class="product-card">
              <div class="product-card__photo">
                <img
                  src="./img/products/chair-04.png"
                  width="217"
                  height="255"
                  srcset="./img/products/chair-04@2x.png 2x"
                  alt="chair"
                  class="product-card__img"
                >
              </div>
              <div class="product-card__descr">
                <a href="#" class="product-card__category">Chair</a>
                <h3 class="product-card__heading">
                  <a href="#" class="product-card__link">Nyantuy Chair</a>
                </h3>
                <div class="product-card__reiting">
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star.svg" alt="Star" >
                  <img src="./img/svg/star-off.svg" alt="Star" >
                </div>
                <div class="product-card__footer">
                  <div class="product-card__price" data-value="$">921</div>
                  <button
                    class="btn-reset product-card__btn"
                    aria-label="add to cart"
                  >
                    <svg class="product-card__btn--icon">
                      <use xlink:href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

      <button id="slidePrev" class="btn-reset products__slider-btn products__slider-prev" aria-label="Prev slider">
        <svg class="products__slider-btn--icon">
          <use xlink:href="img/sprite.svg#slider-left"></use>
        </svg>
      </button>
      <button id="slideNext" class="btn-reset products__slider-btn products__slider-next" aria-label="Next slider">
        <svg class="products__slider-btn--icon">
          <use xlink:href="img/sprite.svg#slider-right"></use>
        </svg>
      </button>
    </div>
    <a href="#" class="products__link">View All</a>
  </div>
</section>
